html {
    box-sizing: border-box;
}

body {
    flex-direction: column;
    flex-grow: 1;
    color: #000;
    background: #fff;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 2em;
}

header {
    background: #323232;
}

.release-header {
    display: block;
    color: #ffffff;
    font-weight: normal;
    margin-top: 2em;
    margin-bottom: 1em;
    background: #3bb878;
    padding: 0.2em 0.25em 0.25em 0.25em;
    height: 32px;
}

.release-header .release-version {
    font-size: 0.8em;
    float: right;
    vertical-align: middle;
    position: relative;
    top: 3px;
}

h3 {
    font-size: 1.2em;
}

.content-wrap {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 57px;
}

.navbar-logo {
    height: 46px;
    padding: 6px 0;
    vertical-align: middle;
}

.navbar-wrap {
    display: flex;
    justify-content: space-between;
}
