openapi: 3.0.1
info:
  version: 4.0.0
  title: Linode API
  x-logo: {
    url: 'https://www.linode.com/media/images/logos/standard/light/linode-logo_standard_light_medium.png',
    backgroundColor: '#fafafa'
  }
  description: |
    This is Linode's next generation API. The API was designed around the concepts of REST and does
    its best to conform to a RESTful model whenever possible. When not possible the goal was to be
    as intuitive as possible.

    Another design goal of the Linode API was to give developers the power to manipulate all Linode
    services through code as easily as they can through the Linode Manager UI.

    With this API, it is now not only possible to create a new Linode, but also enable backups,
    add it to a Nodebalancer, attach Block Storage Volumes, create backup snapshots, imagize its
    disk for mass deployment of more Linodes, and so much more.

    Additionally, as an administrator on an account, you can now use the API to create new users and
    control the level of access they have to the services on your account.

    Finally, one of the most powerful features of this version of Linode's API is the ability to
    allow third-party applications control of your account through the OAuth 2 protocol. All Linode
    service endpoints allow four levels of access: __view__, __create__, __modify__, __delete__.
    Developers now have the capability to create their own exciting new services on top of Linode's
    world-class infrastructure.
  contact:
    name: Linode
    url: https://www.linode.com
servers:
- url: https://api.linode.com/v4
paths:
  /account:
    x-linode-cli-command: account
    get:
      x-linode-grant: read_only
      tags:
      - account
      summary: View Account
      description: >
        This endpoint returns the contact and billing information related to
        your Account.
      operationId: getAccount
      x-linode-cli-action: view
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: Returns a single Account object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/account
    put:
      x-linode-grant: read_write
      tags:
      - account
      summary: Update Account
      description: >
        This endpoint allows you to update contact and billing information
        related to your Account.
      operationId: updateAccount
      x-linode-cli-action: update
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      requestBody:
        description: Update contact and billing information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'
      responses:
        '200':
          description: The updated Account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X PUT -d '{
                "address_1": "123 Main St.",
                "address_2": "Suite 101",
                "city": "Philadelphia",
                "company": "My Company, LLC",
                "country": "US",
                "email": "jsmith@mycompany.com",
                "first_name": "John",
                "last_name": "Smith",
                "phone": "555-555-1212",
                "state": "PA",
                "zip": 19102,
                }
              }' \
              https://api.linode.com/v4/account
  /account/credit-card:
    x-linode-cli-command: account
    post:
      x-linode-grant: read_write
      tags:
      - account
      summary: Add/Edit Credit Card
      description: >
        This endpoint allows you to add/edit credit card information to your Account.

        Only one credit card can be associated with your Account, so using this
        endpoint will overwrite your card information with the
        new credit card.
      operationId: createCreditCard
      x-linode-cli-action: update-card
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      requestBody:
        description: Update the credit card information associated with your Account.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditCard'
      responses:
        '200':
          description: Credit Card updated.
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                  "credit_card": 4111111111111111,
                  "expiry_month": 11,
                  "expiry_year": 2020
                }' \
                https://api.linode.com/v4/account/credit-card
  /account/events:
    x-linode-cli-command: events
    get:
      x-linode-grant: read_only
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageSize'
      tags:
      - account
      summary: List Events
      description: >
         This endpoint returns a collection of Event objects representing
         actions taken on your Account. The events returned depends on your
         grants.
      operationId: getEvents
      x-linode-cli-action: list
      security:
      - personalAccessToken: []
      - oauth:
        - events:read_only
      responses:
        '200':
          description: Returns a paginated lists of Event objects.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Event'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/account/events
  /account/events/{eventId}:
    x-linode-cli-command: events
    parameters:
      - name: eventId
        in: path
        description: The ID of the Event.
        required: true
        schema:
          type: integer
          format: int32
    get:
      x-linode-grant: read_only
      tags:
      - account
      summary: View Event
      description: Returns a single Event object.
      operationId: getEvent
      x-linode-cli-action: view
      security:
      - personalAccessToken: []
      - oauth:
        - events:read_only
      responses:
        '200':
          description: An Event object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/account/events/123
  /account/events/{eventId}/read:
    x-linode-cli-command: events
    parameters:
      - name: eventId
        in: path
        description: The ID of the Event to designate as read.
        required: true
        schema:
          type: integer
          format: int32
    post:
      x-linode-grant: read_write
      tags:
      - account
      summary: Mark Event as Read
      description: Marks Event as read.
      operationId: eventRead
      x-linode-cli-action: mark-read
      security:
      - personalAccessToken: []
      - oauth:
        - events:read_write
      responses:
        '200':
          description: Event read.
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST \
                https://api.linode.com/v4/account/events/123/read
  /account/events/{eventId}/seen:
    x-linode-cli-command: events
    parameters:
      - name: eventId
        in: path
        description: The ID of the Event to designate as seen.
        required: true
        schema:
          type: integer
          format: int32
    post:
      x-linode-grant: read_write
      tags:
      - account
      summary: Mark Event as Seen
      description: >
        Marks all Events up to and including this Event by ID as seen.
      operationId: eventSeen
      x-linode-cli-action: mark-seen
      security:
      - personalAccessToken: []
      - oauth:
        - events:read_only
      responses:
        '200':
          description: Events seen.
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST \
                https://api.linode.com/v4/account/events/123/seen
  /account/invoices:
    x-linode-cli-command: account
    get:
      x-linode-grant: read_only
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageSize'
      tags:
      - account
      summary: List Invoices
      description: >
        This endpoint returns a paginated list of invoices against your Account.
      operationId: getInvoices
      x-linode-cli-action: invoices-list
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: Returns a paginated list of Invoice objects.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/invoices
  /account/invoices/{invoiceId}:
    x-linode-cli-command: account
    parameters:
      - name: invoiceId
        in: path
        description: The ID of the Invoice.
        required: true
        schema:
          type: integer
          format: int32
    get:
      x-linode-grant: read_only
      tags:
      - account
      summary: View Invoice
      description: Returns a single Invoice object.
      operationId: getInvoice
      x-linode-cli-action: invoice-view
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: An Invoice object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/invoices/123
  /account/invoices/{invoiceId}/items:
    x-linode-cli-command: account
    parameters:
      - name: invoiceId
        in: path
        description: The ID of the Invoice.
        required: true
        schema:
          type: integer
          format: int32
    get:
      x-linode-grant: read_only
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageSize'
      tags:
      - account
      summary: List Invoice Items
      description: Returns a paginated list of Invoice items.
      operationId: getInvoiceItems
      x-linode-cli-action: invoice-items
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: A paginated list of InvoiceItem objects
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/InvoiceItem'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/invoices/123/items
  /account/notifications:
    x-linode-cli-command: notifications
    get:
      x-linode-grant: read_only
      tags:
      - account
      summary: List Notifications
      description: >
        This endpoint returns a collection of Notification objects representing
        important, often time-sensitive items related to your account.

        You cannot interact directly with Notifications, and it will disappear
        when the circumstances causing the Notification have been resolved. For
        example, if you have an important ticket open, you must respond to the
        ticket to dismiss the Notification.
      operationId: getNotifications
      x-linode-cli-action: list
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: Returns a paginated list of Notification objects.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Notification'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/notifications
  /account/oauth-clients:
    x-linode-cli-command: account
    get:
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageSize'
      tags:
      - account
      summary: List OAuth Clients
      description: >
        Returns a paginated list of OAuth Clients registered to your account.  OAuth
        Clients allow users to log into applications you write or host using their
        Linode account, and may allow them to grant some level of access to their
        Linodes or other entities to your application.
      operationId: getClients
      x-linode-cli-action: clients-list
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: A paginated list of OAuth Clients.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/PaginationEnvelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/OAuthClient'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/oauth-clients
    post:
      tags:
      - account
      summary: Create OAuth Client
      description: >
        Create a new OAuth Client, which can be used to allow users to login to
        your own applications using their Linode account, and optionally grant
        your application some amount of access to their Linodes or other entities.
      operationId: createClient
      x-linode-cli-action: client-create
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      requestBody:
        description: Information about the OAuth Client to create.
        content:
          application/json:
            schema:
              required:
              - label
              - redirect_uri
              allOf:
              - $ref: '#/components/schemas/OAuthClient'
              - type: object
                properties:
                  public:
                    type: boolean
                    description: Whether to create a public or private client.
                    example: false
      responses:
        '200':
          description: Client created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "redirect_uri": "https://example.org/oauth/callback",
                    "label": "Example App",
                    "public": false
                }' \
                https://api.linode.com/v4/account/oauth-clients
  /account/oauth-clients/{clientId}:
    parameters:
      - name: clientId
        in: path
        description: The OAuth Client ID to look up.
        required: true
        schema:
          type: string
    x-linode-cli-command: account
    get:
      tags:
      - account
      summary: View OAuth Client
      description: >
        Returns information about a single OAuth client.
      operationId: getClient
      x-linode-cli-action: client-view
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: Information about the requested client.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c
    put:
      tags:
      - account
      summary: Update OAuth Client
      description: >
        Update information about an OAuth Client on your account.  This can be
        especially useful to update the redirect_uri of your client in the event
        that the callback url changed in your application.
      operationId: updateClient
      x-linode-cli-action: client-update
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      requestBody:
        description: The fields to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthClient'
      responses:
        '200':
          description: Client updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X PUT -d '{
                "redirect_uri": "https://example.org/oauth/callback",
                "label": "Example App"
                }
              }' \
              https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c
    delete:
      tags:
      - account
      summary: Delete OAuth Client
      description: >
        Deletes an OAuth Client registered with Linode.  The Client ID and
        Client Secret will no longer be accepted by https://login.linode.com,
        and all tokens issued to this client will be invalidated (meaning that
        if your application was using a token, it will no longer work).
      operationId: deleteClient
      x-linode-cli-action: client-delete
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      responses:
        '200':
          description: Client deleted successfully.
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              -X DELETE \
              https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c
  /account/oauth-clients/{clientId}/reset-secret:
    x-linode-cli-command: account
    parameters:
      - name: clientId
        in: path
        description: The OAuth Client ID to look up.
        required: true
        schema:
          type: string
    post:
      tags:
      - account
      summary: Reset OAuth Client Secret
      description: >
        Resets the OAuth Client Secret for a client you own, and returns the
        OAuth Client with the plaintext secret.  This secret is not supposed to
        be publicly known or disclosed anywhere.  This can be used to generate
        a new secret in case the one you have has been leaked, or to get a new
        secret if you lost the original.  The old secret is expired immediately,
        and logins to your client with the old secret will fail.
      operationId: resetClientSecret
      x-linode-cli-action: client-reset-secret
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      responses:
        '200':
          description: Client Secret reset successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthClient'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST \
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c/reset-secret
  /account/oauth-clients/{clientId}/thumbnail:
    x-linode-cli-command: account
    parameters:
      - name: clientId
        in: path
        description: The OAuth Client ID to look up.
        required: true
        schema:
          type: string
    get:
      tags:
      - account
      summary: View OAuth Client Thumbnail
      description: >
        Returns the thumbnail for this OAuth Client.  This is a
        publicly-viewable endpoint, and can be accessed without authentication.
      operationId: getClientThumbnail
      x-linode-cli-action: client-thumbnail
      responses:
        '200':
          description: The client's thumbnail.
          content:
            image/png:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c/thumbnail > thumbnail.png
    put:
      tags:
      - account
      summary: Update OAuth Client Thumbnail
      description: >
        Upload a thumbnail for a client you own.  You must upload an image file
        that will be returned when the thumbnail is retrieved.  This image will
        be publicly-viewable.
      operationId: setClientThumbnail
      x-linode-cli-action: update-client-thumbnail
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      requestBody:
        description: The image to set as the thumbnail.
        required: true
        content:
          image/png:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Thumbnail updated successfully.
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: image/png" \
              -H "Authorization: Bearer $TOKEN" \
              -X PUT \
              --data-binary "/path/to/image"
              https://api.linode.com/v4/account/oauth-clients/edc6790ea9db4d224c5c/thumbnail

  /account/payments:
    x-linode-cli-command: account
    get:
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageSize'
      x-linode-grant: read_only
      tags:
      - account
      summary: List Payments
      description: >
        This endpoint returns a paginated list of Payments made on this Account.
      operationId: getPayments
      x-linode-cli-action: payments-list
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: Returns a paginated list of Payment objects.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Payment'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/payments
    post:
      x-linode-grant: read_write
      tags:
      - account
      summary: Make Payment
      description: >
        This endpoint allows you to make a payment to your Account
        via credit card. This will charge your credit card the requested amount.
      operationId: createPayment
      x-linode-cli-action: payment-create
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      requestBody:
        description: Information about the payment you are making.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentRequest'
      responses:
        '200':
          description: Payment made.
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/Payment'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "cvv": "123",
                    "usd": "120.50"
                }' \
                https://api.linode.com/v4/account/payments
  /account/payments/{paymentId}:
    x-linode-cli-command: account
    parameters:
    - name: paymentId
      in: path
      description: The ID of the Payment to look up.
      required: true
      schema:
        type: integer
        format: int32
    get:
      x-linode-grant: read_only
      tags:
      - account
      summary: View Payment
      description: >
        Returns information about a specific Payment.
      operationId: getPayment
      x-linode-cli-action: payment-view
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: A Payment object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/payments/123
  /account/payments/paypal:
    x-linode-cli-command: account
    post:
      x-linode-grant: read_only
      tags:
      - account
      summary: Stage PayPal Payment
      description: >
        This begins the process of submitting a payment via PayPal. After calling
         this endpoint, you must take the resulting `payment_id` along with
         the `payer_id` from your PayPal account, and POST to
        `/account/payments/paypal-execute` to complete the payment.
      operationId: createPayPalPayment
      x-linode-cli-action: paypal-start
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      requestBody:
        description: >
          The amount to submit as payment via PayPal.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayPal'
      responses:
        '200':
          description: PayPal payment staged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayPalExecute'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "usd": "120.50",
                    "redirect_url": "https://example.org",
                    "cancel_url": "https://example.org"
                }' \
                https://api.linode.com/v4/account/payments/paypal
  /account/payment/paypal/execute:
    x-linode-cli-command: account
    post:
      x-linode-grant: read_write
      tags:
      - account
      summary: Execute Staged/Approved PayPal Payment
      description: >
        Given a PaymentID and PayerID - as generated by PayPal during the
        transaction authorization process - this endpoint executes the payment
        to capture the funds and credit your Linode account.
      operationId: executePayPalPayment
      x-linode-cli-action: paypal-execute
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      requestBody:
        description: >
          The details of the payment to execute.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayPalExecute'
      responses:
        '200':
          description: PayPal payment executed.
          content:
            application/json:
             schema:
               type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "payment_id": "PAY-1234567890ABCDEFGHIJKLMN",
                    "payer_id": "ABCDEFGHIJKLM"
                }' \
                https://api.linode.com/v4/account/payments/paypal
  /account/settings:
    x-linode-cli-command: account
    get:
      x-linode-grant: read_only
      tags:
      - account
      summary: View Account Settings
      description: >
        This endpoint returns information related to
        your Account settings: Managed service subscription, Longview
        subscription, and network helper.
      operationId: getAccountSettings
      x-linode-cli-action: settings
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: Returns a single Account settings object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/settings
    put:
      x-linode-grant: read_write
      tags:
      - account
      summary: Update Account Settings
      description: >
        This endpoint allows you to update your Account settings.
      operationId: updateAccountSettings
      x-linode-cli-action: settings-update
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      requestBody:
        description: Update Account settings information.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountSettings'
      responses:
        '200':
          description: The updated Account settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                    "network_helper": true,
                    "longview_subscription": "longview-10"
                }' \
                https://api.linode.com/v4/account/settings
  /account/transfer:
    x-linode-cli-command: account
    get:
      x-linode-grant: read_only
      tags:
      - account
      summary: View Network Utilization
      description: >
        This endpoint returns a Transfer object showing your network utilization,
        in GB, for the current month.
      operationId: getTransfer
      x-linode-cli-action: transfer
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: Returns a Transfer object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transfer'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/transfer
  /account/users:
    x-linode-cli-command: users
    get:
      x-linode-grant: unrestricted only
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageSize'
      tags:
      - account
      summary: List Users
      description: >
        Returns a paginated list of Users on your account.  Users may access all
        or part of your account based on their restricted status and grants.  An
        unrestricted user may access everything on the account, whereas restricted
        user may only access entities or perform actions they've been given specific
        grants to.
      operationId: getUsers
      x-linode-cli-action: list
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: A paginated list of Users.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/User'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/users
    post:
      x-linode-grant: unrestricted only
      tags:
      - account
      summary: Create User
      description: >
        Creates a new User on your account.  Once created, the user will be
        able to log in and access portions of your account.  Access is
        determined by whether or not they are restricted, and what grants they
        have been given.
      operationId: createUser
      x-linode-cli-action: create
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      requestBody:
        description: Information about the User to create.
        content:
          application/json:
            schema:
              required:
              - username
              - email
              - password
              allOf:
              - $ref: '#/components/schemas/User'
              - type: object
                properties:
                  email:
                    type: string
                    format: email
                    description: >
                      The new user's email address.
                    example: example_user@linode.com
                  password:
                    type: string
                    description: >
                      The password this user will user to log in.
                    example: hunter7
      responses:
        '200':
          description: New user created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X POST -d '{
                    "username": "example_user",
                    "email": "person@place.com",
                    "restricted": true
                }' \
                https://api.linode.com/v4/account/users
  /account/users/{username}:
    x-linode-cli-command: users
    parameters:
      - name: username
        in: path
        description: The username to look up.
        required: true
        schema:
          type: string
    get:
      x-linode-grant: unrestricted only
      tags:
      - account
      summary: View User
      description: >
        Returns information about a single user on your account.
      operationId: getUser
      x-linode-cli-action: view
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: The requested User object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/users/example_user
    put:
      x-linode-grant: unrestricted only
      tags:
      - account
      summary: Update User
      description: >
        Update information about a user on your account.  This can be used to
        change the restricted status of a user.  When making a user restricted,
        no grants will be configured by default and you must then set up grants
        in order for the user to access anything on the account.
      operationId: updateUser
      x-linode-cli-action: update
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      requestBody:
        description: The information to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: User updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                    "email": "person@place.com",
                    "restricted": true
                }' \
                https://api.linode.com/v4/account/users/example_user
    delete:
      x-linode-grant: unrestricted only
      tags:
      - account
      summary: Delete User
      description: >
        Deletes a user.  The deleted user will be immediately logged out and
        may no longer log in or perform any actions.  All grants that user had
        will be lost.
      operationId: deleteUser
      x-linode-cli-action: delete
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      responses:
        '200':
          description: User deleted successfully.
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                -X DELETE \
                https://api.linode.com/v4/account/users/example_user
  /account/users/{username}/grants:
    x-linode-cli-command: users
    parameters:
      - name: username
        in: path
        description: The username to look up.
        required: true
        schema:
          type: string
    get:
      x-linode-grant: unrestricted only
      tags:
      - account
      summary: View User's Grants
      description: >
        Returns the full grants structure for this user.  This includes all
        entities on the account alongside what level of access this user has
        to each of them.  Individual users may view their own grants at the
        `/profile/grants` endpoint, but will not see entities that they have
        no access to.
      operationId: getUserGrants
      x-linode-cli-action: grants
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_only
      responses:
        '200':
          description: The user's grants.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantsResponse'
        '204':
          description: >
            This is an unrestricted user, and therefore has no grants to return.
            This user may access everything on the account and perform all actions.
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/account/users/example_user/grants
    put:
      x-linode-grant: unrestricted only
      tags:
      - account
      summary: Update User's Grants
      description: >
        Update the grants a user has.  This can be used to give a user access
        to new entities or actions, or take access away.  You do not need to
        include the grant for every entity on the account in this request; any
        that are not included will remain unchanged.
      operationId: updateUserGrants
      x-linode-cli-action: update-grants
      security:
      - personalAccessToken: []
      - oauth:
        - account:read_write
      requestBody:
        description: The grants to update.  Omitted grants will be left unchanged.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantsResponse'
      responses:
        '200':
          description: Grants updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Content-Type: application/json" \
                -H "Authorization: Bearer $TOKEN" \
                -X PUT -d '{
                    "global": {
                      "add_linodes": true,
                      "add_nodebalancers": false,
                      "add_domains": true,
                      "add_longview": false,
                      "add_stackscripts": true,
                      "longview_subscription": true,
                      "add_images": true,
                      "add_volumes": true,
                      "account_access": "read_only",
                      "cancel_account": false
                    },
                    "domain": [
                      {
                        "id": 123,
                        "permissions": "read_only"
                      }
                    ],
                    "image": [
                      {
                        "id": 123,
                        "permissions": "read_only"
                      }
                    ],
                    "linode": [
                      {
                        "id": 123,
                        "permissions": "read_only"
                      },
                      {
                        "id": 234,
                        "permissions": "read_write"
                      },
                      {
                        "id": 345,
                        "permissions": "read_only"
                      },
                    ],
                    "longview": [
                      {
                        "id": 123,
                        "permissions": "read_only"
                      },
                      {
                        "id": 234,
                        "permissions": "read_write"
                      }
                    ],
                    "nodebalancer": [
                      {
                        "id": 123,
                        "permissions": "read_write"
                      }
                    ],
                    "stackscript": [
                      {
                        "id": 123,
                        "permissions": "read_only"
                      },
                      {
                        "id": 124,
                        "permissions": "read_write"
                      }
                    ],
                    "volume": [
                      {
                        "id": 123,
                        "permissions": "read_only"
                      }
                    ]
                }' \
                https://api.linode.com/v4/account/users/example_user/grants
  /domains:
    x-linode-cli-command: domains
    get:
      x-linode-grant: read_only
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageSize'
      tags:
      - domains
      summary: View Domains
      description: >
        This is a collection of domains that you have registered in Linode's DNS
        Manager.  Linode is not a registrar, and in order for these to work you
        must own the domains and point your registrar at Linode's nameservers.
      operationId: getDomains
      x-linode-cli-action: list
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_only
      responses:
        '200':
          description: |
            A paginated list of Domains you have registered.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Domain'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                https://api.linode.com/v4/domains
    post:
      x-linode-grant: add_domains
      tags:
      - domains
      summary: Create Domain
      description: >
        Adds a new domain to Linode's DNS Manager.  Linode is not a registrar, and
        you must own the domain before adding it here.  Be sure to point your
        registrar to Linode's nameservers so that the records hosted here are
        used.
      operationId: createDomain
      x-linode-cli-action: create
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_write
      requestBody:
        description: Information about the domain you are registering.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
      responses:
        '200':
          description: |
            Domain added successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST -d '{
                  "domain": "example.com",
                  "type": "master",
                  "soa_email": "admin@example.com",
                  "description": "Example Description",
                  "refresh_sec": 14400,
                  "retry_sec": 3600,
                  "expire_sec": 604800,
                  "ttl_sec": 3600,
                  "status": "active",
                  "master_ips": ["127.0.0.1","255.255.255.1","123.123.123.7"],
                  "axfr_ips": ["44.55.66.77"],
                  "display_group": "Example Display Group"
              }' \
              https://api.linode.com/v4/domains
  /domains/{domainId}:
    x-linode-cli-command: domains
    parameters:
      - name: domainId
        in: path
        description: The ID of the Domain to access.
        required: true
        schema:
          type: integer
          format: int32
    get:
      x-linode-grant: read_only
      tags:
      - domains
      summary: View Domain
      description: >
        This is a single domain that you have registered in Linode's DNS Manager.
        Linode is not a registrar, and in order for this domain record to work you
        must own the domain and point your registrar at Linode's nameservers.
      operationId: getDomain
      x-linode-cli-action: view
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_only
      responses:
        '200':
          description: |
            A single domain in Linode's DNS Manager.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/domains/123
    put:
      x-linode-grant: read_write
      tags:
      - domains
      summary: Update Domain
      description: |
        Update information about a domain in Linode's DNS Manager.
      operationId: updateDomain
      x-linode-cli-action: update
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_write
      requestBody:
        description: The Domain information to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
      responses:
        '200':
          description: Domain update successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X PUT -d '{
                  "domain": "example.com",
                  "type": "master",
                  "soa_email": "admin@example.com",
                  "description": "Example Description",
                  "refresh_sec": 14400,
                  "retry_sec": 3600,
                  "expire_sec": 604800,
                  "ttl_sec": 3600,
                  "status": "active",
                  "master_ips": ["127.0.0.1","255.255.255.1","123.123.123.7"],
                  "axfr_ips": ["44.55.66.77"],
                  "display_group": "Example Display Group"
              }' \
              https://api.linode.com/v4/domains/123
    delete:
      x-linode-grant: read_write
      tags:
      - domains
      summary: Delete Domain
      description: >
        Deletes a domain from Linode's DNS Manager.  The domain will be removed
        from Linode's nameservers shortly after this operation completes.  This
        also deletes all associated Domain Records.
      operationId: deleteDomain
      x-linode-cli-action: delete
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_write
      responses:
        '200':
          description: Domain deleted successfully.
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
        - lang: Shell
          source: >
            curl -H "Authorization: Bearer $TOKEN" \
                -X DELETE \
                https://api.linode.com/v4/domains/123
  /domains/{domainId}/records:
    x-linode-cli-command: domains
    parameters:
    - name: domainId
      in: path
      description: The ID of the domain we are accessing records for.
      required: true
      schema:
        type: integer
    get:
      x-linode-grant: read_only
      tags:
      - domains
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageSize'
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_only
      summary: List Domain Records
      description: |
        Returns a paginated list of records configured on a domain in Linode's
        DNS Manager.
      operationId: getDomainRecords
      x-linode-cli-action: records-list
      responses:
        '200':
          description: A list of domain records.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DomainRecord'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/domains/123/records
    post:
      x-linode-grant: read_write
      tags:
      - domains
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_write
      summary: Create Domain Record
      description: >
        Adds a new domain record to the zonefile this domain represents.
      operationId: createDomainRecord
      x-linode-cli-action: records-create
      requestBody:
        description: >
          Information about the new record to add.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRecord'
      responses:
        '200':
          description: Domain record created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRecord'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST -d '{
                "type": "A",
                "name": "test",
                "target": "12.34.56.78",
                "priority": 50,
                "weight": 50,
                "port": 80,
                "service": null,
                "protocol": null,
                "ttl_sec": 604800
              }' \
              https://api.linode.com/v4/domains/123/records
  /domains/{domainId}/records/{recordId}:
    x-linode-cli-command: domains
    parameters:
    - name: domainId
      in: path
      description: The ID of the domain whose record you are accessing.
      required: true
      schema:
        type: integer
    - name: recordId
      in: path
      description: The ID of the record you are accessing.
      required: true
      schema:
        type: integer
    get:
      x-linode-grant: read_only
      tags:
      - domains
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_only
      summary: View Domain Record
      description: |
        View a single record on this domain.
      operationId: getDomainRecord
      x-linode-cli-action: records-view
      responses:
        '200':
          description: A domain record object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRecord'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/domains/123/records/234
    put:
      x-linode-grant: read_write
      tags:
      - domains
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_write
      summary: Update Domain Record
      description: |
        Update a single record on this domain.
      operationId: updateDomainRecord
      x-linode-cli-action: records-update
      requestBody:
        description: The values to change.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRecord'
      responses:
        '200':
          description: Domain record updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRecord'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X PUT -d '{
                "type": "A",
                "name": "test",
                "target": "12.34.56.78",
                "priority": 50,
                "weight": 50,
                "port": 80,
                "service": null,
                "protocol": null,
                "ttl_sec": 604800,
                "tag": null
              }' \
              https://api.linode.com/v4/domains/123/records/234
    delete:
      x-linode-grant: read_write
      tags:
      - domains
      security:
      - personalAccessToken: []
      - oauth:
        - domains:read_write
      summary: Delete Domain Record
      description: |
        Deletes a record on this domain.
      operationId: deleteDomainRecord
      x-linode-cli-action: records-delete
      responses:
        '200':
          description: Record deleted successfully.
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              -X DELETE \
              https://api.linode.com/v4/domains/123/records/234
  /images:
    x-linode-cli-command: images
    get:
      x-linode-grant: read_only
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageSize'
      tags:
      - images
      summary: List Images
      description: >
        Returns a paginated list of Images. This list includes public Images and
        your private Images. You can call this enpoint without authentication
        to get all of the public Images.
      operationId: getImages
      x-linode-cli-action: list
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_only
      responses:
        '200':
          description: A paginated list of Images.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/ImagePublic'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/images
    post:
      x-linode-grant: read_write
      tags:
      - images
      summary: Create Image
      description: >
        Creates a new private gold-master Image from a Linode Disk. There is no
        additional charge to store Images for Linode users, with a limit of 2GB
        per Image and 3 Images per account.
      operationId: createImage
      x-linode-cli-action: create
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_write
      requestBody:
        description: Information about the Image to create.
        content:
          application/json:
            schema:
              required:
              - disk_id
              allOf:
              - $ref: '#/components/schemas/ImagePrivate'
              - type: object
              properties:
                disk_id:
                  type: integer
                  format: int32
                  description: >
                     The ID of the Linode Disk that this Image will be
                     created from.
                  example: 42
                label:
                  type: string
                  description: >
                    A short title of the Image. Defaults to the label of the
                    Disk it is being created from if not provided.
                description:
                  type: string
                  description: >
                    A detailed description of the Image.
      responses:
        '200':
          description: New private Image created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrivate'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST -d '{
                "disk_id": 123,
                "label": "this_is_a_label",
                "description": "A longer description of the image"
              }' \
              https://api.linode.com/v4/images
  /images/{imageId}:
    x-linode-cli-command: images
    parameters:
    - name: imageId
      in: path
      description: ID of the gold-master image to look up.
      required: true
      schema:
        type: string
    get:
      tags:
      - images
      summary: View Image
      description: >
        Get information about a single image.
      operationId: getImage
      x-linode-cli-action: view
      responses:
        '200':
          description: A single image object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrivate'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/images/linode/debian9
    put:
      x-linode-grant: read_write
      tags:
      - images
      summary: Update Image
      description: >
        This allows you to update an private Image that you have permission to
        `read_write`.
      operationId: updateImage
      x-linode-cli-action: update
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_write
      requestBody:
        description: >
          Any field that is not marked as `readOnly` may not be updated. If any
          updated field fails to pass validation, the image will not be updated.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImagePrivate'
      responses:
        '200':
          description: The updated image.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagePrivate'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X PUT -d '{
                "id": "private/67848373",
                "label": "My gold-master image",
                "created": "2018-01-01T00:01:01",
                "created_by": "somename",
                "deprecated": false,
                "description": "The detailed description of my Image.",
                "is_public": false,
                "size": 2500,
                "type": "manual",
                "vendor": null
              }' \
              https://api.linode.com/v4/images/private/67848373
    delete:
      x-linode-grant: read_write
      tags:
      - images
      summary: Delete Image
      description: |
        Deletes an Image you have permission to `read_write`. Deleting an image is a destructive
        process and cannot be undone. Only private Images are deletable.
      operationId: deleteImage
      x-linode-cli-action: delete
      security:
      - personalAccessToken: []
      - oauth:
        - images:read_write
      responses:
        '200':
          description: Delete successful
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              -X DELETE \
              https://api.linode.com/v4/images/private/67848373
  /linode/instances:
    x-linode-cli-command: linodes
    get:
      x-linode-grant: read_only
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageSize'
      summary: List Linodes
      description: >
        Returns a paginated list of Linodes you have permission to view.
      tags:
      - Linode Instances
      operationId: getLinodeInstances
      x-linode-cli-action: list
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_only
      responses:
        '200':
          description: Returns a list of all Linodes on your account.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Linode'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/linode/instances
    post:
      x-linode-charge: true
      x-linode-grant: add_linodes
      summary: Create Linode
      description: |
        This endpoint allows you to create a new Linode server on your account. In order for this
        request to complete successfully, your user must have the `add_linodes` grant. Creating a
        new Linode will incur a charge on your account.

        Linodes can be created using one of the available types. See `GET /linode/types` to get more
        information about each type's specs and cost.

        Linodes can be created in any one of our available regions, see `GET /regions` for a list
        of available regions you deploy your Linode in.

        Linodes can be created in a number of ways:

        - Using a Linode Linux Distribution image or an image you created based on another Linode
          - The Linode will be `running` after it completes `provisioning`
          - A default config with two disks, one being a 512 swap disk, is created
            - `swap_size` can be used to customize the swap disk size
          - Requires a `password` be supplied to use for the root user's account
          - It is recommended to supply ssh keys for the root user using the `authorized_keys` field

        - Using one of your own StackScripts or a public StackScript
          - The Linode will be `running` after it completes `provisioning`
          - Requires a compatible Linode Linux Distribution `image` to be supplied
            - see `GET /linode/stackscript/{stackscriptId}` for compatible images
          - Requires a `root_pass` be supplied to use for the root user's account
          - It is recommended to supply ssh keys for the root user using the `authorized_keys` field

        - Using one of your other Linode's backups
          - The Linode will be `running` after it completes `provisioning`
          - The disks and config will match that of the Linode that was backed up
          - The `root_pass` will match that of the Linode that was backed up

        - Create an empty Linode
          - The Linode will remain `offline` and must be manually started
            - see `POST /linode/instances/{linodeId}/boot`
          - Disks and Configs must be created manually
          - This is only recommended for advanced use-cases
      tags:
      - Linode Instances
      operationId: createLinodeInstance
      x-linode-cli-action: create
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_write
      requestBody:
        description: The requested initial state of a new Linode.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - type
              - region
              allOf:
              - $ref: '#/components/schemas/LinodeRequest'
              - $ref: '#/components/schemas/LinodeBase'
              properties:
                backup_id:
                  type: integer
                  title: The ID of a Linode Backup
                  example: 1234
                  description: |
                    A Backup ID from another Linode's available backups. Your user must have
                    `read_write` access to that Linode, the backup must have a `status` of
                    `successful`, and the Linode must be deployed to the same `region` as the backup.
                    See `GET /linode/instances/{linodeId}/backups` for a Linode's available backups.

                    This field and the `image` field are mutually exclusive.
                backups_enabled:
                  type: boolean
                  title: If Backups should be enabled.
                  description: |
                    If this field is set to `true`, the created Linode will automatically be
                    enrolled in the Linode Backup service. This will incur an additional charge.
                    The cost for the Backup service is dependent on the type of Linode deployed.

                    Backup pricing is included in the response from `GET /linodes/types`
                swap_size:
                  type: integer
                  title: Swap Disk size in MB
                  example: 512
                  description: >
                    When deploying from an Image, this field is optional, otherwise it is ignored.
                    This is used to set the Swap Disk size for the newly created Linode.
                  default: 512
      responses:
        '200':
          description: >
            A new Linode is being created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Linode'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST -d '{
                "backup_id": 1234,
                "backups_enabled": true,
                "swap_size": 512,
                "image": "linode/debian9",
                "root_pass": "aComplexP@ssword",
                "authorized_keys": [
                  "ssh-rsa AAAA_valid_public_ssh_key_123456785== user@their-computer"
                ],
                "booted": true,
                "label": "linode123",
                "type": "g5-standard-2",
                "region": "us-east",
                "group": "Linode-Group"
              }' \
              https://api.linode.com/v4/linode/instances
  /linode/instances/{linodeId}:
    parameters:
    - name: linodeId
      in: path
      description: ID of the Linode to look up
      required: true
      schema:
        type: integer
    x-linode-cli-command: linodes
    get:
      x-linode-grant: read_only
      tags:
      - Linode Instances
      summary: View Linode
      description: Get a specific Linode by ID.
      operationId: getLinodeInstance
      x-linode-cli-action: view
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_only
      responses:
        '200':
          description: Returns a single Linode object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Linode'
          links:
            boot:
              $ref: '#/components/links/bootLinode'
            reboot:
              $ref: '#/components/links/rebootLinode'
            shutdown:
              $ref: '#/components/links/shutdownLinode'
            update:
              $ref: '#/components/links/updateLinode'
            delete:
              $ref: '#/components/links/deleteLinode'
            rebuild:
              $ref: '#/components/links/rebuildLinode'
            mutate:
              $ref: '#/components/links/mutateLinode'
            resize:
              $ref: '#/components/links/resizeLinode'
            rescue:
              $ref: '#/components/links/rescueLinode'
            clone:
              $ref: '#/components/links/cloneLinode'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/linode/instances/123
    put:
      x-linode-grant: read_write
      tags:
      - Linode Instances
      summary: Update Linode
      description: >
        This allows you to update a Linode that you have permission to `read_write`.
      operationId: updateLinodeInstance
      x-linode-cli-action: update
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_write
      requestBody:
        description: >
          Any field that is not marked as `readOnly` may be updated. Fields that are marked
          `readOnly` will be ignored. If any updated field fails to pass validation, the Linode will
          not be updated.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Linode'
      responses:
        '200':
          description: The updated Linode.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Linode'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X PUT -d '{
                "label": "linode123",
                "group": "Linode-Group",
                "alerts": {
                  "cpu": 90,
                  "network_in": 10,
                  "network_out": 10,
                  "transfer_quota": 80,
                  "io": 10000
                },
                "backups": {
                  "schedule": {
                    "day": "Saturday",
                    "window": "W22"
                  }
                },
                "type": "g5-standard-2",
                "region": "us-east"
              }' \
              https://api.linode.com/v4/linode/instances/123
    delete:
      x-linode-grant: read_write
      tags:
      - Linode Instances
      summary: Delete Linode
      description: |
        Deletes a Linode you have permission to `read_write`. Deleting a Linode is a destructive
        process and cannot be undone. Additionally, deleting a Linode:

        * Gives up any IP addresses the Linode was assigned
        * Deletes all disks, backups, configs, etc.
        * Stops billing for the Linode and its associated services. You will be billed for time used
          within the billing period the Linode was active.
      operationId: deleteLinodeInstance
      x-linode-cli-action: delete
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_write
      responses:
        '200':
          description: Delete successful
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              -X DELETE \
              https://api.linode.com/v4/linode/instances/123
  /linode/instances/{linodeId}/backups:
    parameters:
    - name: linodeId
      in: path
      description: The ID of the Linode the backups belong to.
      required: true
      schema:
        type: integer
    x-linode-cli-command: linodes
    get:
      x-linode-grant: read_only
      summary: List Backups
      description: >
        Returns information about this Linode's available backups.
      tags:
      - Linode Instances
      operationId: getBackups
      x-linode-cli-action: backups
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_only
      responses:
        '200':
          description: A collection of the specified Linode's available backups.
          content:
            application/json:
              schema:
                type: object
                properties:
                  automatic:
                    type: array
                    items:
                      allOf:
                      - $ref: '#/components/schemas/Backup'
                      - type: object
                        properties:
                          type:
                            type: string
                            example: automatic
                  snapshot:
                    type: object
                    properties:
                      in_progress:
                        $ref: '#/components/schemas/Backup'
                      current:
                        $ref: '#/components/schemas/Backup'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/linode/instances/123/backups
    post:
      x-linode-grant: read_write
      summary: Create Snapshot
      description: >
        Creates a snapshot backup of a Linode. WARNING: If you already have a
        snapshot this is a destructive operation. The previous snapshot will be
        deleted.
      tags:
      - Linode Instances
      operationId: createSnapshot
      x-linode-cli-action: snapshot
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_write
      requestBody:
        description: The label for the new snapshot.
        required: true
        content:
          application/json:
            schema:
              required:
              - label
              type: object
              properties:
                label:
                  type: string
                  minLength: 1
                  maxLength: 255
                  example: SnapshotLabel
      responses:
        '200':
          description: Snapshot was successfully taken.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST -d '{
                "label": "MyNewSnapshot"
              }' \
              https://api.linode.com/v4/linode/instances/123/backups
  /linode/instances/{linodeId}/backups/cancel:
    parameters:
    - name: linodeId
      in: path
      description: The ID of the Linode to cancel backup service for.
      required: true
      schema:
        type: integer
    x-linode-cli-command: linodes
    post:
      x-linode-grant: read_write
      summary: Cancel Backups
      description: >
        Cancels the backup service on the given Linode.
      tags:
      - Linode Instances
      operationId: cancelBackups
      x-linode-cli-action: backups-cancel
      security:
      - personalAccessToken: []
      - oauth:
        - linode:read_write
      responses:
        '200':
          description: Backup service was cancelled for the specified Linode.
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST \
              https://api.linode.com/v4/linode/instances/123/backups/cancel
  /linode/instances/{linodeId}/backups/enable:
    parameters:
    - name: linodeId
      in: path
      description: The ID of the Linode to enable backup service for.
      required: true
      schema:
        type: integer
    x-linode-cli-command: linodes
    post:
      x-linode-grant: read_write
      summary: Enable Backups
      description: >
        Enables backups for the specified Linode.
      tags:
      - Linode Instances
      operationId: enableBackups
      x-linode-cli-action: backups-enable
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_write
      responses:
        '200':
          description: Backup service was enabled.
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST \
              https://api.linode.com/v4/linode/instances/123/backups/enable
  /linode/instances/{linodeId}/backups/{backupId}:
    parameters:
    - name: linodeId
      in: path
      description: The ID of the Linode the backup belongs to.
      required: true
      schema:
        type: integer
    - name: backupId
      in: path
      description: The ID of the backup to look up.
      required: true
      schema:
        type: integer
    x-linode-cli-command: linodes
    get:
      x-linode-grant: read_only
      summary: View Backup
      description: >
        Return information about a backup.
      tags:
      - Linode Instances
      operationId: getBackup
      x-linode-cli-action: backup-show
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_only
      responses:
        '200':
          description: A single Linode backup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Backup'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/linode/instances/123/backups/123456
  /linode/instances/{linodeId}/backups/{backupId}/restore:
    parameters:
    - name: linodeId
      in: path
      description: The ID of the Linode that the backup belongs to.
      required: true
      schema:
        type: integer
    - name: backupId
      in: path
      description: The ID of the backup to restore.
      required: true
      schema:
        type: integer
    x-linode-cli-command: linodes
    post:
      x-linode-grant: read_write
      summary: Restore Backup
      description: >
        Restores a Linode's backup to the specified Linode.
      tags:
      - Linode Instances
      operationId: restoreBackup
      x-linode-cli-action: backup-restore
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_write
      requestBody:
        description: Parameters to provide when restoring the backup.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - linode_id
              properties:
                linode_id:
                  type: integer
                  format: int32
                  description: >
                    The ID of the Linode to restore a backup to.
                  example: 123456
                overwrite:
                  type: boolean
                  description: >
                    If true, deletes all disks and configs on the target Linode
                    before restoring.
                  example: true
      responses:
        '200':
          description: Restore from backup was initiated.
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST -d '{
                "linode_id": 123456,
                "overwrite": true
              }' \
              https://api.linode.com/v4/linode/instances/123/backups/123456/restore
  /linode/instances/{linodeId}/boot:
    parameters:
    - name: linodeId
      in: path
      description: The ID of the Linode to boot
      required: true
      schema:
        type: integer
    x-linode-cli-command: linodes
    post:
      x-linode-grant: read_write
      summary: Boot Linode
      description: |
        Boots a Linode you have permission to modify.  If no parameters are given, a config profile
        will be chosen for this boot based on the following criteria:

        * If there is only one config profile for this Linode, it will be used.
        * If there is more than one config profile, the last booted config will be used.
        * If there is more than one config profile and none were the last to be booted, because the
          Linode was never booted or the last booted config was deleted, an error will be returned.
      tags:
      - Linode Instances
      operationId: bootLinodeInstance
      x-linode-cli-action: boot
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_write
      requestBody:
        description: Optional configuration to boot into (see above).
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                config_id:
                  type: integer
                  format: int32
                  description: >
                    The Linode Config ID to boot into.  If omitted, we will attempt to select a
                    config to use (this will do the right thing in most cases).
                  example: null
      responses:
        '200':
          description: Boot started.
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST \
              https://api.linode.com/v4/linode/instances/123/boot
  /linode/instances/{linodeId}/clone:
    parameters:
    - name: linodeId
      in: path
      description: ID of the Linode to clone.
      required: true
      schema:
        type: integer
        format: int32
    x-linode-cli-command: linodes
    post:
      x-linode-charge: true
      x-linode-grant: add_linodes
      summary: Clone Linode
      description: >
        You can clone your Linode's existing disks or configuration profiles to
        another Linode on your account. In order for this request to complete
        successfully, your user must have the `add_linodes` grant. Cloning to a
        new Linode will incur a charge on your account.

        If cloning to an existing Linode, any actions currently running or
        queued must be completed first before you can clone to it.
      tags:
      - Linode Instances
      operationId: cloneLinodeInstance
      x-linode-cli-action: clone
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:create
      requestBody:
        description: The requested state your Linode will be cloned into.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                region:
                  type: string
                  title: The Region a Linode is deploy to.
                  description: >
                    This is the location where the Linode will be deployed.

                    To view all available regions you can deploy with see
                    `GET /regions`.

                    * Region can only be provided when cloning to a new Linode.
                type:
                  type: string
                  title: The Linode service plan type.
                  description: |
                    A Linode's type determines what resources are available to
                    it, including disk space, memory, and virtual cpus. The
                    amounts available to a specific Linode are returned as
                    `specs` on the Linode object.

                    To view all available Linode `types` you can deploy with
                    see `GET /linode/types`.

                    * Type can only be provided wen cloning to a new Linode.
                linode_id:
                  type: integer
                  title: Target clone's Linode ID.
                  description: >
                    If an existing Linode is to be the target for the clone,
                    the ID of that Linode.
                label:
                  type: string
                  title: Label for the target Linode.
                  description: >
                    The label to assign this Linode when cloning to a new Linode.

                    * Can only be provided when cloning to a new Linode.
                    * Defaults to "linode".
                group:
                  type: string
                  title: The group this Linode is in.
                  description: >
                    A label used to group Linodes for display. Linodes are not
                    required to have a group.
                backups_enabled:
                  type: boolean
                  title: If Backups should be enabled.
                  description: |
                    If this field is set to `true`, the created Linode will
                    automatically be enrolled in the Linode Backup service. This
                    will incur an additional charge. The cost for the Backup
                    service is dependent on the type of Linode deployed.

                    Backup pricing is included in the response from
                    `GET /linodes/types`.

                    * Can only be included when cloning to a new Linode.
                disks:
                  type: array
                  title: List of disk IDs to include.
                  description: >
                    All disks attached to configs will be cloned from the
                    source Linode if not provided.
                configs:
                  type: array
                  title: List of config IDs to include.
                  description: >
                    All configs attached to will be cloned from the source
                    Linode if not provided.
      responses:
        '200':
          description: Clone started.
          content:
            application/json:
              schema:
                type: object
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST -d '{
                "region": "string",
                "type": "string",
                "linode_id": 0,
                "label": "string",
                "group": "string",
                "backups_enabled": true,
                "disks": [],
                "configs": []
              }' \
              https://api.linode.com/v4/linode/instances/123/clone
  /linode/instances/{linodeId}/configs:
    parameters:
    - name: linodeId
      in: path
      description: ID of the Linode to look up configuration profiles for.
      required: true
      schema:
        type: integer
    x-linode-cli-command: linodes
    get:
      parameters:
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageSize'
      tags:
      - Linode Instances
      summary: List Configuration Profiles
      description: |
        Lists configuration profiles associated with a Linode.
      operationId: getLinodeConfigs
      x-linode-cli-action: configs-list
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_only
      responses:
        '200':
          description: >
            Returns an array of configuration profiles associated with this Linode.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginationEnvelope'
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/LinodeConfig'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Authorization: Bearer $TOKEN" \
              https://api.linode.com/v4/linode/instances/123/configs
    post:
      tags:
      - Linode Instances
      summary: Create Configuration Profile
      description: >
        Adds a new configuration profile to a Linode.
      operationId: addLinodeConfig
      x-linode-cli-action: config-create
      security:
      - personalAccessToken: []
      - oauth:
        - linodes:read_write
      requestBody:
        description: >
          The parameters to set when creating the configuration profile.

          This determines which kernel, devices, how much memory, etc. a Linode boots with.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinodeConfig'
      responses:
        '200':
          description: |
            A configuration profile was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinodeConfig'
        default:
          $ref: '#/components/responses/ErrorResponse'
      x-code-samples:
      - lang: Shell
        source: >
          curl -H "Content-Type: application/json" \
              -H "Authorization: Bearer $TOKEN" \
              -X POST -d '{
                "kernel": "linode/latest-64bit",
                "comments": "This is my main Config",
                "memory_limit": 2048,
                "root_device_ro": false,
                "run_level": "default",
                "virt_mode": "paravirt",
                "helpers": {
                  "updatedb_disabled": true,
                  "distro": true,
                  "modules_dep": true,
                  "network": true,
                  "devtmpfs_automount": false
                },
                "label": "My Config",
                "devices": {
                  "sda": {
                    "disk_id": 123456,
                    "volume_id": null
                  },
                  "sdb": {
                    "disk_id": 123457,
                    "volume_id": null
                  }
                }
              }' \
              https://api.linode.com/v4/linode/instances/123/configs
  /linode/instances/{linodeId}/configs/{configId}:
    parameters:
    - name: linodeId
      in: path
      description: The ID of the Linode whose configuration profile to look up.
      required: true
      schema:
        type: integer
        format: int32
    - name: configId
      in: path
      description: The ID of the configuration profile to look up.
      required: true
      schema:
        type: integer
        format: int32
    x-linode-cli-command: linodes
    get:
[...]
