.dNauuw { padding: 20px 20px 0px 20px; }
.dfDMmE { display: none !important; }

p.endpoint {
    font-family: Courier, monospace;
    font-size: 14px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background: rgb(235,240,255);
    padding: 1em;
}
