.jVrPC { display: none !important; }
.iVDEBf { padding: 4px 6px !important; }
.kbVCKA { display: none !important; }
.cQZOnk, .dpJmLP, .VYOvn, .fANZFb { background: #ffffff !important; color: #000000 !important; text-transform: uppercase !important; padding: 0 !important; }
